<!DOCTYPE html PUBLIC >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>听雨以物换物活动主页</title> 
<link rel='stylesheet' href='../static/css/style.css' media='screen' />
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/main.js" type="text/javascript"></script>

</head>
<body >

<!-- Header -->

<header id="header">
			<hgroup>
				<h1 id="site-logo">
					<img src="../static/logo.png">
				</h1>

			</hgroup>
         <!--弹出层开始 -->	

<!--弹出层结束 -->
		
		</header>
<!-- Content -->
<section id="wrapper">
	<hgroup>
		<h2>江南听雨微信组招编辑主页</h2> 
		<h3></h3>
	</hgroup>
</section>
<div >
	<form >
		姓名: <input type="text" id = "name" name="name"  /><br>
		联系方式: <input type="text" id = "tel" name="tel"  /><br>
		自我介绍:<input type="text" id = "content" name="content"  /><br>
		<input type="button" value="提交" onclick="upload()"/>
	</form>
</div>

<footer id="footer">
	<span>&copy; 2013 <a href="http://www.jnrain.com">JNRain</a>. Design by <a href="https://github.com/jnrainerds">江南听雨研发中心</a></span>
</footer>


</body>
</html>
